@model IEnumerable<double>

@{ 
    var items = Model ?? new double[2];
}

<div id="ArgsContainer" style="display:inline-block; background-color:orange">
    @foreach(var item in items)
    {
        @Html.TextBox("[]", item)
    }
</div>

<button onclick="AddAgrs()" class="btn btn-info">
    +
</button>

<script>
    function AddAgrs()
    {
        var input = $("<input type='text' name='Args[]' />");

        $("#ArgsContainer").append(input);
    }
</script>